alabaster==0.7.16
Babel==2.15.0
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.21.2
Flask==3.0.3
idna==3.7
imagesize==1.4.1
itsdangerous==2.2.0
Jinja2==3.1.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
myst-parser==3.0.1
packaging==24.0
Pygments==2.18.0
#python3-wkhtmltopdf==0.4.1
PyYAML==6.0.1
requests==2.32.3
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tomli==2.0.1
urllib3==2.3.0
Werkzeug==3.1.3

