/* 列表页样式 */
.h5-search {
    display: none;
}

li{
    color:#FFFFFF;
}

.doclist .text{
    margin-top: 50px;
    font-size: 30px;
    font-weight: weight;
    color: var(--o-color-text1);line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.doclist .text>div span {
    font-size: 18px;
    color: var(--o-color-text1);line-height: 18px;
}

.doclist .text>div {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    align-items: center;
}

.doclist .text>div #LTS-value {
    padding: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #bbb;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}

.doclist .text>div #LTS-value>div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
}

.doclist .text>div .lts:hover {
    border: 1px solid var(--o-color-brand1);
}

.doclist .text>div #LTS-value.active {
    border: 1px solid var(--o-color-brand1);
}

.doclist .text>div .active>div {
    background: var(--o-color-brand1);
}


.doclist .doc-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.doclist .doc-box .version {
    width: 240px;
    height: 64px;
    box-shadow: var(--o-shadow-l2);
    border-radius: 8px;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    color: var(--o-color-text1);line-height: 24px;
    cursor: pointer;
    margin: 40px 40px 0 0;
}

.doclist .doc-box .active {
    background: var(--o-color-brand1);
    color: #FFFFFF;
}

.doclist .doc-catalog {
    margin-top: 101px;
}

.doclist .doc-catalog .title { 
    font-size: 30px;
    color: var(--o-color-text1);line-height: 30px;
    margin-bottom: 40px;
}

.doclist .doc-catalog .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doclist .doc-catalog .list>div {
    padding: 40px 0 40px 40px;
    width: 540px;
    background: var(--o-color-bg2);box-shadow: var(--o-shadow-l2);
    border-radius: 8px;
    margin: 0 40px 40px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.doclist .doc-catalog .list>div:nth-of-type(2n) {
    margin-right: 0;
}

.doc-catalog .link-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doc-catalog .link-box a {
    margin-right: 40px;
}

.doc-catalog .link-box a:nth-of-type(2n) {
    margin-right: 0 !important;
}

.doc-catalog .list>div i {
    width: 36px;
    height: 36px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

.doc-catalog .list>div span {  
    font-size: 20px;
    color: var(--o-color-text1);font-weight: bold;
    line-height: 36px;
    white-space: nowrap;
    flex-shrink: 0;
}

.doc-catalog .list>div .link-box {
    margin-left: 40px;
}

.doc-catalog .list>div .link-box a{
    font-size: 16px;
    font-weight: normal;
    color: var(--o-color-brand1);
    line-height: 36px;
    margin-bottom: 10px;
}

.icon-know {
    background-image: url('../img/list/konw.png');
}

.icon-install {
    background-image: url('../img/list/install.png');
}

.icon-manage {
    background-image: url('../img/list/manage.png');
}

.icon-use {
    background-image: url('../img/list/use.png');
}

.icon-develop {
    background-image: url('../img/list/develop.png');
}

.icon-migrate {
    background-image: url('../img/list/migrate.png');
}

.doclist .webpage {
    margin-top: 60px;
    overflow: hidden;
}

.webpage .other p { 
    font-size: 30px;
    color: var(--o-color-text1);line-height: 30px;
}

.webpage .other img {
    display: block;
    width: 280px;
    height: 80px;
    margin-top: 40px;
    cursor: pointer;
}

.webpage .other {
    margin: 100px 0 200px 0;
}

/* 文档链接写死样式 */

html[lang="en"] .doclist .doc-catalog .list[index="95"] .develop,
html[lang="zh"] .doclist .doc-catalog .list[index="95"] .develop,
html[lang="ru"] .doclist .doc-catalog .list[index="95"] .develop {
    height: 172px;
}

html[lang="ru"] .doclist .doc-catalog .list[index="96"] .migrate {
    height: 300px;
}

html[lang="en"] .doc-catalog .list[index="94"]>.migrate .link-box a,
html[lang="en"] .doc-catalog .list[index="96"]>.migrate .link-box a,
html[lang="ru"] .doc-catalog .list[index="95"]>.develop .link-box a,
html[lang="ru"] .doc-catalog .list[index="95"]>.use .link-box a,
html[lang="ru"] .doc-catalog .list[index="96"]>.develop .link-box a,
html[lang="ru"] .doc-catalog .list[index="96"]>.use .link-box a,
html[lang="ru"] .doc-catalog .list[index="96"]>.migrate .link-box a,
html[lang="ru"] .doc-catalog .list[index="97"]>.develop .link-box a,
html[lang="ru"] .doc-catalog .list[index="97"]>.use .link-box a,
html[lang="ru"] .doc-catalog .list[index="98"]>.use .link-box a,
html[lang="ru"] .doc-catalog .list[index="98"]>.develop .link-box a {
    line-height: 20px;
    margin-bottom: 25px;
}

html[lang="zh"] .list[index="95"] .use .link-box a:first-of-type {
    margin-right: 48px;
}
html[lang="zh"] .list[index="95"] .use .link-box a:nth-of-type(3) {
    margin-right: 55px;
}

@media screen and (max-width: 1100px) {

    .body_content .doclist .h5-search {
        position: relative;
        margin-top: 40px;
    }
    
    .doclist .text{
        margin-top: 40px;
        font-size: 16px;
        font-weight: normal;
        color: #0B162B;
        line-height: 26px;
    }

    .doclist .text>div span {
        font-size: 12px;
        line-height: 14px;
    }

    .doclist .text>div {
        margin-left: 30px;
    }

    .doclist .text>div #LTS-value {
        padding: 3px;
        width: 14px;
        height: 14px;
        margin-left: 12px;
    }

    .doclist .text>div #LTS-value>div {
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
    }
    
    .doclist .doc-box {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .doclist .doc-box .version {
        width: 145px;
        height: 40px;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        line-height: 24px;
        padding: 8px 0;
        margin: 0 25px 20px 0;
    }

    .doclist .doc-box .version:nth-of-type(2n) {
        margin-right: 0;
    }
    .doclist .doc-box.active .version:nth-of-type(2) {
        margin-right: 25px;
    }

    .doclist .doc-catalog {
        margin-top: 20px;
    }

    .doclist .doc-catalog .title {
        font-size: 16px;
        color: #0B162B;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .doclist .doc-catalog .list {
        flex-direction: column;
    }

    .doclist .doc-catalog .list>div {
        width: 315px;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
        flex-wrap: wrap;
        margin: 0 0 20px 0;
    }

    .doc-catalog .list>div i {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }

    .doc-catalog .list>div span {  
        font-size: 16px;
        line-height: 26px;
        
    }

    .doc-catalog .list>div .link-box {
        margin: 20px 0 0 0;
        width: 255px;
    }
    
    .doc-catalog .list>div .link-box a{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .doclist .webpage {
        margin-top: 20px;
    }

    .webpage .other img {
        margin: 20px auto 0 auto;
    }

    .webpage .other {
        margin: 0 0 80px 0;
    }

    .webpage .other p{
        font-size: 16px;
        color: #0B162B;
        line-height: 26px;
    }



    html[lang="ru"] .doclist .doc-catalog .list[index="97"] .manage,
    html[lang="en"] .doclist .doc-catalog .list[index="97"] .manage{
        height: 162px;
    }
    html[lang="en"] .doclist .doc-catalog .list[index="95"] .develop, 
    html[lang="zh"] .doclist .doc-catalog .list[index="95"] .develop,
    html[lang="ru"] .doclist .doc-catalog .list[index="95"] .develop {
        height: 198px;
    }
    html[lang="en"] .list[index="95"] .install .link-box a:last-of-type,
    html[lang="ru"] .list[index="95"] .install .link-box a:last-of-type,
    html[lang="en"] .list[index="95"] .use .link-box a:nth-of-type(5),
    html[lang="ru"] .list[index="95"] .use .link-box a:nth-of-type(5),
    html[lang="en"] .list[index="96"] .migrate .link-box a:last-of-type, 
    html[lang="ru"] .list[index="96"] .migrate .link-box a:last-of-type {
        margin-right: 15px;
    }
    html[lang="zh"] .list[index="95"] .use .link-box a:first-of-type,
    html[lang="zh"] .list[index="95"] .use .link-box a:nth-of-type(3) {
        margin-right: 40px;
    }
    
}


