.h5_footer {
    display: none;
}

@media screen and (max-width: 1100px) {
    .h5_footer {
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background: var(--o-color-bg2);
    }
    .h5_footer p{
        color: var(--o-color-text1);
    }
    .h5_footer div:nth-child(1) {
        margin-bottom: 10px;
    }
    .h5_footer>div:nth-child(2){
        margin-top: 70px;
    }
    .h5_footer div:nth-child(1) p {
        font-size: 12px;
        margin: 0 50px 20px;
    }

    .h5_footer div:nth-child(1) img {
        width: 189px;
        height: 40px;
    }

    .h5_footer div:nth-child(2) p {
        margin-top: 10px;
        font-size: 14px;
        color: var(--o-color-text1);    line-height: 16px;

    }

    .h5_footer div:nth-child(3) {
        margin-top: 20px;
    }

    .h5_footer div:nth-child(3) img {
        width: 78px;
        height: 78px;
    }

    .h5_footer div:nth-child(3) p:nth-child(2) {
        margin-top: 10px;
        font-size: 12px;
        font-weight: normal;
        color: var(--o-color-text1);    line-height: 12px;
    }

    .h5_footer div:nth-child(3) p:nth-child(3) {
        margin-top: 20px;
        font-size: 12px;
        font-weight: normal;
        color: var(--o-color-text1);    line-height: 12px;
    }
}