pre,
code {
  font-family: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', monospace;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: var(--o-color-text3);
  background: var(--o-color-bg2);
}

@media screen and (max-width: 768px) {
  .hljs {
    background: #f3f3f5;
  }
}

.dark .hljs {
  background: #2b2b2f;
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #a626a4
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e45649
}

.hljs-literal {
  color: #0184bb
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #50a14f
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #986801
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #4078f2
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #c18401
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

.hljs-link {
  text-decoration: underline
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.dark .hljs-comment,
.dark .hljs-quote {
  color: #5c6370;
  font-style: italic
}

.dark .hljs-doctag,
.dark .hljs-formula,
.dark .hljs-keyword {
  color: #c678dd
}

.dark .hljs-deletion,
.dark .hljs-name,
.dark .hljs-section,
.dark .hljs-selector-tag,
.dark .hljs-subst {
  color: #e06c75
}

.dark .hljs-literal {
  color: #56b6c2
}

.dark .hljs-addition,
.dark .hljs-attribute,
.dark .hljs-meta .hljs-string,
.dark .hljs-regexp,
.dark .hljs-string {
  color: #98c379
}

.dark .hljs-attr,
.dark .hljs-number,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-pseudo,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable {
  color: #d19a66
}

.dark .hljs-bullet,
.dark .hljs-link,
.dark .hljs-meta,
.dark .hljs-selector-id,
.dark .hljs-symbol,
.dark .hljs-title {
  color: #61aeee
}

.dark .hljs-built_in,
.dark .hljs-class .hljs-title,
.dark .hljs-title.class_ {
  color: #e6c07b
}

.dark .hljs-emphasis {
  font-style: italic
}

.dark .hljs-strong {
  font-weight: 700
}

.dark .hljs-link {
  text-decoration: underline
}