@charset "UTF-8";
.markdown {
  max-width: 1174px; 
  margin: 0 auto;
  --o-color-table: var(--o-color-border2);
}
#markdown blockquote {
  border-radius: 6px;
  background-color: rgba(125, 50, 234, 0.06);
  border-left: 6px solid #7d32ea;
  padding:8px 16px;
}
#markdown blockquote img {
  vertical-align: top;
  max-width: 24px;
}
.markdown > *:first-child {
  margin-top: 0 !important;
}
@media (max-width: 1439px) {
  .markdown {
    width: calc(100% - 48px);
  }
}
@media (max-width: 1100px) {
  .markdown {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .markdown {
    width: 100%;
    padding: var(--o-spacing-h5);
    /* margin-top: var(--o-spacing-h5); */
    margin-bottom: var(--o-spacing-h2);
    background-color: var(--o-color-bg2);
    box-shadow: var(--o-shadow-sl1);
    margin-top: 16px;
  }
}
.markdown ol,
.markdown ul {
  list-style: inherit;
}
#markdown ol {
  list-style: decimal;
}
.markdown a {
  word-break: break-all;
  transition: all .3s;
}
.markdown a:hover{
  text-decoration: underline;
  color: var(--o-color-brand2);
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--o-color-text1);
  font-weight: 600;
}
.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  display: none;
}
.markdown hr {
  margin: var(--o-spacing-h1) 0;
  border: none;
  height: 1px;
  background-color: var(--o-color-division1);
}
@media screen and (max-width: 768px) {
  .markdown hr {
    margin: var(--o-spacing-h4) 0;
  }
}
.markdown h1 {
  margin-top: var(--o-spacing-h1);
  margin-bottom: var(--o-spacing-h2);
  font-size: var(--o-font-size-h3);
  line-height: var(--o-line-height-h3);
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .markdown h1 {
    margin: var(--o-spacing-h3) 0 var(--o-spacing-h4);
    font-size: var(--o-font-size-h7);
    line-height: var(--o-line-height-h7);
  }
}
.markdown h2 {
  /* margin-top: var(--o-spacing-h2); */
  margin-bottom: var(--o-spacing-h3);
  font-size: var(--o-font-size-h5);
  line-height: var(--o-line-height-h5);
  padding-top: 0;
}
.markdown h1::before{
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  margin-top: -60px;
  overflow: hidden;
}
.markdown h2::before,.markdown h3::before {
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.markdown h2::before{
  margin-top: -40px;
}
.markdown h3::before{
  margin-top: -28px;
}
@media screen and (max-width: 768px) {
  .markdown h2 {
    margin: 0 0 var(--o-spacing-h5);
    font-size: var(--o-font-size-h8);
    line-height: var(--o-line-height-h8);
    padding-top: 0;
  }
  .markdown h1::before{
    height: 92px;
    margin-top: -92px;
  }
  .markdown h2::before{
    height: 92px;
    margin-top: -72px;
  }
  .markdown h3::before{
    height: 92px;
    margin-top: -76px;
  }
}
.markdown h3 {
  padding-top: 0;
  font-size: var(--o-font-size-h7);
  line-height: var(--o-line-height-h8);
}
@media screen and (max-width: 768px) {
  .markdown h3 {
    padding-top: 0;
    font-size: var(--o-font-size-text);
    line-height: var(--o-line-height-text);
  }
}
.markdown h4 {
  margin-top: var(--o-spacing-h4);
  font-size: var(--o-font-size-h8);
  line-height: var(--o-font-size-h8);
}
@media screen and (max-width: 768px) {
  .markdown h4 {
    margin-top: var(--o-spacing-h6);
    font-size: var(--o-font-size-tip);
    line-height: var(--o-line-height-tip);
  }
}
.markdown h5 {
  margin-top: var(--o-spacing-h5);
  font-size: var(--o-font-size-text);
  line-height: var(--o-font-size-text);
}
.markdown p,
.markdown ul,
.markdown ol {
  margin-top: var(--o-spacing-h8);
  margin-bottom: var(--o-spacing-h8);
  font-size: var(--o-font-size-text);
  color: var(--o-color-text4);
  line-height: var(--o-line-height-text);
}
@media screen and (max-width: 768px) {
  .markdown p,
  .markdown ul,
  .markdown ol {
    font-size: var(--o-font-size-tip);
    overflow: scroll;
  }
  .markdown table p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .markdown table tr td{
    padding-left:var(--o-spacing-h5) !important;
  }
  .markdown table tr td p,
  .markdown table tr th p {
    padding: 8px 0;
  }
}
.markdown ul,
.markdown ol {
  padding-left: 1.5em;
}
.markdown ul li::marker,
.markdown ol li::marker {
  color: var(--o-color-text1);
}
.markdown table {
  width: 100%;
  font-size: var(--o-font-size-text);
  table-layout: fixed;
  word-break: break-word;
  border-collapse: collapse;
  padding: 0;
  line-height: var(--o-line-height-text);
}
.markdown table tr {
  height: 54px;
  color: var(--o-color-text4); 
  background-color: var(--o-color-bg2);
}
.markdown table tr th {
  padding-left: var(--o-spacing-h3);
  text-align: left;
  font-weight: bold;
  font-size: var(--o-font-size-h8);
  line-height: var(--o-line-height-h8); 
  color: var(--o-color-text1);
  vertical-align: middle;
  background-color: var(--o-color-bg4);
  padding: 6px 12px;
  border: 1px solid var(--o-color-table);
}
.markdown table tr th p{
  color: var(--o-color-text1);
}
@media screen and (max-width: 768px) {
  .markdown table tr th {
    font-size: var(--o-font-size-text);
    padding-left: var(--o-spacing-h5);
  }
  .markdown table tr th:nth-of-type(1) {
    width: 30vw !important;
  }
}
.markdown table tr td {
  padding-left: var(--o-spacing-h3);
  line-height: var(--o-line-height-text);
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px solid var(--o-color-table);
}
.markdown table tr:nth-child(2n) {
  background-color: var(--o-color-bg3);
}
.markdown li{
  text-align: justify;
}
.markdown li+li {
  margin-top: 0.25em;
}
.markdown blockquote+blockquote {
  margin-top: 12px;
}
.markdown li>p {
  margin-top: 16px;
}
.markdown strong {
  font-weight: bold;
  color: var(--o-color-text1);
}
.markdown img {
  max-width: 100%;
  background-color: var(--o-color-greyblue3);
}
/* .markdown ul li a[href^="#"] {
  display: none;
} */
.markdown div[class*="language-"] {
  position: relative;
  margin: 8px 0;
  background-color: var(--o-color-bg1);
  box-shadow: var(--o-shadow-sl1);
  overflow-x: auto;
}
.markdown [class*="language-"] code,
.markdown [class*="language-"] pre {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.markdown [class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 24px 64px;
  background: 0 0;
  overflow-x: auto;
}
 pre +pre{
  margin-top: 16px;
}
@media screen and (max-width: 768px){
  pre +pre{
    margin-top: 8px;
  }
}
.markdown [class*="language-"] code {
  padding: 0;
  line-height: var(--o-line-height-text);
  font-size: var(--o-font-size-text);
  color: #eee;
}

/**
 * 法律声明 && 隐私政策
 **/
.legal-privacy {
  margin: 0 auto;
  padding: 0;
  padding-top: 94px;
  padding-bottom: var(--o-spacing-h1);
  max-width: 880px;
  background: var(--o-color-bg1);
}

@media screen and (max-width: 768px) {
  .legal-privacy {
    padding-top: 0;
    margin-top: var(--o-spacing-h2);
    padding-bottom: var(--o-spacing-h2);
  }
}
.legal-privacy hr {
  margin: var(--o-spacing-h2) 0;
}

@media screen and (max-width: 768px) {
  .legal-privacy hr {
    margin: var(--o-spacing-h4) 0 var(--o-spacing-h4) 0;
  }
}
.legal-privacy h1 {
  margin-top: 0;
  text-align: center;
}

.legal-privacy h2 {
  font-size: var(--o-font-size-h7);
  letter-spacing: 0;
  line-height: var(--o-line-height-h8);
  font-weight: 700;
  margin-bottom: var(--o-spacing-h6);
}

@media screen and (max-width: 768px) {
  .legal-privacy h2 {
    font-size: var(--o-font-size-text);
    letter-spacing: 0;
    line-height: var(--o-line-height-text);
    font-weight: 700;
    margin-bottom: --o-spacing-h8;
  }
}
/**
 * 迁移专区
 **/
.migration-markdown {
  height: 100%;
  padding: 64px 120px;
  margin-left: 300px;
  background-color: var(--o-color-bg1);
  --o-color-table: var(--o-color-border2);
}
@media screen and (max-width: 1280px) {
  .migration-markdown {
    padding: 64px 60px;
  }
}
@media screen and (max-width: 1100px) {
  .migration-markdown {
    margin-left: 0px;
    padding: 16px 16px 40px 16px;
  }
}
.migration-markdown > *:first-child {
  margin-top: 0 !important;
}
@media (max-width: 768px) {
  .migration-markdown {
    padding: var(--o-spacing-h5);
    margin-top: var(--o-spacing-h5);
    margin-bottom: var(--o-spacing-h2);
  }
}
.migration-markdown ol,
.migration-markdown ul {
  list-style: inherit;
}
.migration-markdown a {
  word-break: break-all;
}
.migration-markdown h1,
.migration-markdown h2,
.migration-markdown h3,
.migration-markdown h4,
.migration-markdown h5,
.migration-markdown h6 {
  color: var(--o-color-text1);
  font-weight: 600;
}
.migration-markdown h1 a,
.migration-markdown h2 a,
.migration-markdown h3 a,
.migration-markdown h4 a,
.migration-markdown h5 a,
.migration-markdown h6 a {
  display: none;
}
.migration-markdown h1 {
  margin-top: 0;
  text-align: center;
}
.migration-markdown hr {
  margin: var(--o-spacing-h1) 0;
  border: none;
  height: 1px;
  background-color: var(--o-color-division1);
}
@media screen and (max-width: 768px) {
  .migration-markdown hr {
    margin: var(--o-spacing-h4) 0;
  }
}
.migration-markdown h1 {
  margin-bottom: var(--o-spacing-h2);
  font-size: var(--o-font-size-h3);
  line-height: var(--o-line-height-h3);
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .migration-markdown h1 {
    margin: 0 0 var(--o-spacing-h4);
    font-size: var(--o-font-size-h7);
    line-height: var(--o-line-height-h7);
  }
}
.migration-markdown h2 {
  margin-top: var(--o-spacing-h2);
  margin-bottom: var(--o-spacing-h3);
  font-size: var(--o-font-size-h5);
  line-height: var(--o-line-height-h5);
}
@media screen and (max-width: 768px) {
  .migration-markdown h2 {
    margin: var(--o-spacing-h4) 0 var(--o-spacing-h5);
    font-size: var(--o-font-size-h8);
    line-height: var(--o-line-height-h8);
  }
}
.migration-markdown h3 {
  margin-top: var(--o-spacing-h3);
  font-size: var(--o-font-size-h7);
  line-height: var(--o-line-height-h7);
}
@media screen and (max-width: 768px) {
  .migration-markdown h3 {
    margin: var(--o-spacing-h6) 0;
    font-size: var(--o-font-size-text);
    line-height: var(--o-line-height-text);
  }
}
.migration-markdown h4 {
  margin-top: var(--o-spacing-h4);
  font-size: var(--o-font-size-h8);
  line-height: var(--o-font-size-h8);
}
@media screen and (max-width: 768px) {
  .migration-markdown h4 {
    margin-top: var(--o-spacing-h6);
    font-size: var(--o-font-size-tip);
    line-height: var(--o-line-height-tip);
  }
}
.migration-markdown h5 {
  margin-top: var(--o-spacing-h5);
  font-size: var(--o-font-size-text);
  line-height: var(--o-font-size-text);
}
.migration-markdown p,
.migration-markdown ul,
.migration-markdown ol {
  margin-top: var(--o-spacing-h8);
  margin-bottom: var(--o-spacing-h8);
  font-size: var(--o-font-size-text);
  font-weight: normal;
  color: var(--o-color-text4);
  line-height: var(--o-line-height-text);
}
@media screen and (max-width: 768px) {
  .migration-markdown p,
  .migration-markdown ul,
  .migration-markdown ol {
    font-size: var(--o-font-size-tip);
    line-height: var(--o-line-height-tip);
  }
}
.migration-markdown ul,
.migration-markdown ol {
  padding-left: 1em;
}
.migration-markdown ul li,
.migration-markdown ol li {
  margin-top: 0.25em;
}
.migration-markdown ul li::marker,
.migration-markdown ol li::marker {
  color: var(--o-color-text1);
}
.migration-markdown table {
  width: 100%;
  font-size: var(--o-font-size-text);
  table-layout: fixed;
  word-break: break-word;
  border-collapse: collapse;
  padding: 0;
}
.migration-markdown table tr {
  height: 36px;
  color: var(--o-color-text4);
  border-bottom: 1px solid var(--o-color-table);
}
.migration-markdown table tr th {
  font-size: var(--o-font-size-h8);
  background-color: var(--o-color-bg4);
  color: var(--o-color-text1);
}
.migration-markdown strong {
  font-weight: bold;
}
.migration-markdown img {
  display: inline-block;
  max-width: 100%;
}
.migration-markdown a[href^="#"] {
  display: none;
}
.migration-markdown div[class*="language-"] {
  position: relative;
  margin: 8px 0;
  background-color: var(--o-color-bg2);
  box-shadow: var(--o-shadow-sl1);
  overflow-x: auto;
}
@media screen and (max-width: 768px) {
  .migration-markdown div[class*="language-"] {
    background-color: var(--o-color-bg1);
  }
}
.migration-markdown [class*="language-"] code,
.migration-markdown [class*="language-"] pre {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.migration-markdown [class*="language-"] code::-webkit-scrollbar-track,
.migration-markdown [class*="language-"] pre::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--o-color-bg2);
}
.migration-markdown [class*="language-"] code::-webkit-scrollbar,
.migration-markdown [class*="language-"] pre::-webkit-scrollbar {
  height: 8px;
  background-color: var(--o-color-bg2);
}
.migration-markdown [class*="language-"] code::-webkit-scrollbar-thumb,
.migration-markdown [class*="language-"] pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--o-color-bg4);
}
.migration-markdown [class*="language-"] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 24px 64px;
  background: 0 0;
  overflow-x: auto;
}
.migration-markdown [class*="language-"] code {
  padding: 0;
  line-height: var(--o-line-height-text);
  font-size: var(--o-font-size-text);
  color: #eee;
}
.dark .markdown img {
  filter: brightness(0.8) grayscale(0.2) contrast(1.2);
}

/*# sourceMappingURL=test.css.map */
