:root {
  --o-button-font-color: var(--o-color-brand1);
  --o-button-font-color-primary: var(--o-color-white);
  --o-button-font-color-secondary: var(--o-color-text1);
  --o-button-font-color-text: var(--o-color-text1);
  --o-button-font-color_hover: var(--o-color-brand2);
  --o-button-font-color_active: var(--o-color-brand3);
  --o-button-font-color_disabled: var(--o-color-brand5);
  --o-button-font-color-primary_disabled: var(--o-color-white);
  --o-button-font-color-secondary_disabled: var(--o-color-text1);
  --o-button-font-color-text_disabled: var(--o-color-text5);
  --o-button-bg-color: var(--o-color-transparent);
  --o-button-bg-color-primary: var(--o-color-brand1);
  --o-button-bg-color-secondary: var(--o-color-secondary);
  --o-button-bg-color-text: var(--o-color-transparent);
  --o-button-bg-color_hover: var(--o-color-transparent);
  --o-button-bg-color-primary_hover: var(--o-color-brand2);
  --o-button-bg-color-secondary_hover: var(--o-color-secondary_hover);
  --o-button-bg-color-text_hover: var(--o-color-secondary_hover);
  --o-button-bg-color_active: var(--o-color-transparent);
  --o-button-bg-color-primary_active: var(--o-color-brand3);
  --o-button-bg-color-secondary_active: var(--o-color-secondary_active);
  --o-button-bg-color-text_active: var(--o-color-secondary_active);
  --o-button-bg-color_disabled: var(--o-color-transparent);
  --o-button-bg-color-primary_disabled: var(--o-color-brand5);
  --o-button-bg-color-secondary_disabled: var(--o-color-secondary_disabled);
  --o-button-bg-color-text_disabled: var(--o-color-secondary_disabled);
  --o-button-border: 1px solid var(--o-color-brand1);
  --o-button-border-primary: 1px solid var(--o-color-brand1);
  --o-button-border-secondary: 1px solid var(--o-color-secondary);
  --o-button-border-text: 1px solid var(--o-color-transparent);
  --o-button-border_hover: 1px solid var(--o-color-brand2);
  --o-button-border-primary_hover: 1px solid var(--o-color-brand2);
  --o-button-border-secondary_hover: 1px solid var(--o-color-secondary_hover);
  --o-button-border-text_hover: 1px solid var(--o-color-secondary_hover);
  --o-button-border_active: 1px solid var(--o-color-brand3);
  --o-button-border-primary_active: 1px solid var(--o-color-brand3);
  --o-button-border-secondary_active: 1px solid var(--o-color-secondary_active);
  --o-button-border-text_active: 1px solid var(--o-color-secondary_active);
  --o-button-border_disabled: 1px solid var(--o-color-brand5);
  --o-button-border-primary_disabled: 1px solid var(--o-color-brand5);
  --o-button-border-secondary_disabled: 1px solid var(--o-color-secondary_disabled);
  --o-button-border-text_disabled: 1px solid var(--o-color-transparent);
  --o-button-font-size: var(--o-font-size-h8);
  --o-button-font-size-small: var(--o-font-size-text);
  --o-button-line-height: var(--o-line-height-h8);
  --o-button-line-height-small: var(--o-line-height-text);
  --o-button-line-height-mini: var(--o-line-height-tip);
  --o-button-padding: 11px 28px;
  --o-button-padding-small: 9px 28px;
  --o-button-padding-mini: 6px 16px;
  --o-button-icon-margin: 8px;
  --o-button-icon-margin-small: 8px;
  --o-button-icon-margin-mini: 4px;
  --o-button-icon-font-size: var(--o-font-size-h5);
  --o-button-icon-font-size-small: var(--o-font-size-h8);
  --o-button-icon-font-size-mini: var(--o-font-size-tip);
  --o-button-icon-paddding: 20px;
  --o-button-icon-paddding-small: 14px;
  --o-button-icon-paddding-mini: 6x;
}
