body{
  background-color:var(--o-color-bg1);
}
#content {
  /* background-color: #f5f6f8; */
  width: calc(100% - 300px);
  background-color: var(--o-color-bg1);
  margin-left: 300px;
}
@media screen and (max-width: 1100px) {
  #content {
    width: 100%;
    margin-left: 0;
  }
}
.markdown {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.detail-footer {
  margin-left: 300px;
}
.h5_footer .atom-img {
  margin: 0 auto;
}
.h5_footer .footer-logo {
  width: 134px;
  height: 28px;
  margin: 0 auto;
}
.detail-footer .atom-img,
.h5_footer .atom-img {
  width: 274px;
  height: 58px;
  background-image: url(../img/common/atom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 1100px) {
  .detail-footer .atom-img,
  .h5_footer .atom-img {
    width: 189px;
    height: 40px;
  }
}
.dark .detail-footer .atom-img,
.dark .h5_footer .atom-img {
  background-image: url(../img/common/atom-logo-dark.svg);
}
.detail-footer .footer-logo {
  width: 134px;
  height: 28px;
}
.detail-footer .footer-logo {
  background-image: url(/img/common/footerLogo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.dark .detail-footer .footer-logo {
  background-image: url(/img/common/footer-logo-dark.png);
}
.top-link > .link-container {
  height: 100%;
}
#page .content {
  max-width: 1040px;
  position: relative;
}
.docs-a {
  display: flex;
  align-items: center;
  height: 18px;
  font-size: var(--o-font-size-tip);
  line-height: var(--o-line-height-tip);
}
@media screen and (max-width: 1100px) {
  .docs-a a {
    font-size: 12px;
  }
  #page .content {
    max-width: 100%;
    margin: 0 auto;
  }
  #docstreeview > ul li {
    position: relative;
  }
  #docstreeview > ul > li > i {
    position: absolute;
    right: 16px;
    top: 7px;
  }
  #docstreeview > ul > li > ul > li > i {
    position: absolute;
    right: 16px;
    top: 14px;
  }
}
#docstreeview > ul > li {
  width: 100%;
}

#docstreeview > ul > li a {
  width: 220px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
#docstreeview > ul > li p > a {
  margin: 0;
}
#docstreeview > ul > li > a {
  height: 53px;
  display: block;
  line-height: 53px;
  /* border-top: 1px solid #e5e5e5; */
}
@media screen and (max-width: 1100px) {
  #docstreeview > ul > li > a {
    padding: 8px 0;
    line-height: normal;
    height: auto;
  }
}
#docstreeview > ul > li > a::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
  opacity: 0.1;
}
#docstreeview > ul > li:nth-of-type(1) > a::before {
  background-color: transparent;
}
#docstreeview > ul > li > ul {
  /* padding: 0 40px; */
  background-color: var(--o-color-trafficpurple4);
}
/* #docstreeview > ul > li ul li {
  padding-top: 24px;
} */
#docstreeview > ul > li ul {
  padding-top: 8px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1100px) {
  #docstreeview > ul > li ul {
    padding-bottom: 8px;
  }
}
#docstreeview > ul > li ul li {
  padding-top: 16px;
}
/* #docstreeview > ul > li ul li:nth-last-child(1) {
  padding-bottom: 32px;
} */
.jstree-closed,
.jstree-open {
  position: relative;
}
.jstree-icon {
  color: #ffffff;
  position: absolute;
  right: 40px;
  top: 15px;
}
#docstreeview > ul > li ul li i {
  top: 14px;
}
.jstree-open > a > .jstree-icon {
  color: #feb32a;
  transition: all 0.5s;
  transform: rotateZ(-90deg);
}
.jstree-leaf > .jstree-icon {
  display: none !important;
}
@media screen and (max-width: 1100px) {
  .prev-next {
    display: none;
  }
}
.theme-change {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.theme-change i {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  background-color: var(--theme-title);
  -webkit-mask-size: cover;
}

.theme-change i.light {
  background-image: url(../img/common/moon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.theme-change i.dark {
  -webkit-mask-image: url(../img/common/sun.svg);
  background-color: #ffffff;
  /* background-image: url(../img/common/sun.svg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#lang {
  cursor: pointer;
}
#lang .lang-menu-link {
  display: flex;
  align-items: center;
  font-size: var(--o-font-size-text);
  color: var(--o-color-text1);
  cursor: pointer;
  height: 100%;
}
#lang:hover .lang-menu-list {
  display: block;
}
#lang .lang-menu-list {
  width: 84px;
  position: absolute;
  top: 46px;
  left: -40px;
  background: var(--o-color-bg2);
  padding: 0 var(--o-spacing-h5);
  cursor: pointer;
  z-index: 99;
  border: none;
}
#lang .lang-menu-list .lang-item {
  display: block;
  line-height: var(--o-line-height-h3);
  text-align: center;
  font-size: var(--o-font-size-text);
  color: var(--o-color-text1);
  border-bottom: 1px solid var(--o-color-division);
  height: 48px;
  line-height: 48px;
}
#lang .lang-menu-list .lang-item:hover {
  color: var(--o-color-brand1);
}
#lang .lang-menu-list .lang-item :last-child {
  border-bottom: 0 none;
}
#lang .lang-menu-list .lang-item .active,
#lang .lang-menu-list .lang-item :hover {
  color: var(--o-color-brand1);
}
@media screen and (max-width: 1100px) {
  #lang {
    display: none;
  }
}
.index-right {
  display: flex;
  width: 100%;
  padding-right: 120px;
  justify-content: flex-end;
  background-color: var(--o-color-bg2);
  box-shadow: var(--o-shadow-l1);
}
.h5-nav-menu {
  display: none;
  height: 100%;
}
@media screen and (max-width: 1100px) {
  .h5-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pc-nav-menu {
    display: none !important;
  }
}
.h5_nav_left {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.light .h5_nav_left {
  background-image: url(../img/common/more-light.svg);
}
.dark .h5_nav_left {
  background-image: url(../img/common/more-dark.svg);
}
@media screen and (max-width: 1100px) {
  #docstreeview > ul li a {
    margin: 0 16px;
    margin-right: 0;
    width: 65%;
    font-size: var(--o-font-size-text);
  }
  #docstreeview > ul > li > ul > li a {
    padding: 0;
  }
  #docstreeview > ul > li:nth-of-type(1) {
    border: none;
  }
  #docstreeview > ul > li > a {
    border: none;
  }
  #menu-box .jstree-node > .jstree-anchor,
  #menu-box .jstree-node > .jstree-anchor p a {
    font-size: 14px !important;
  }
  #docstreeview > ul > li > ul {
    background-color: var(--o-color-bg1);
    padding: 0;
  }
  #docstreeview > ul > li ul li:nth-of-type(1) {
    padding-top: 16px;
  }
  #docstreeview > ul > li ul li {
    padding-top: 16px;
  }
  #docstreeview > ul > li ul li:nth-last-child(1) {
    padding-bottom: 0;
  }
  /* #docstreeview > ul > li >ul >li>ul >li:nth-of-type(1){
    padding-bottom: 16px;
  } */
  #docstreeview > ul > li > ul > li:nth-last-child(1) {
    padding-bottom: 16px;
  }
  .jstree-icon {
    top: 0;
    right: -10px;
  }
  .jstree-children .jstree-icon {
    top: 6px;
    right: 16px;
  }
  #docstreeview > ul > li > ul > li > i {
    margin-right: 0;
  }
  #docstreeview > ul > li > ul > li i {
    top: 14px;
  }
  #h5-menu-top .select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 8px 0;
  }
  #h5-menu-top .select-box span {
    margin-left: 16px;
    font-size: 14px;
  }
  #h5-menu-top .select-box .icon-down {
    width: 16px;
    height: 16px;
    position: relative;
    right: 42px;
  }
  /* .select-box {
    padding: 30px 0 8px 0;
  } */
  .select-box p {
    margin-left: 16px;
    color: var(--o-color-text1);
  }
  #h5-menu-top .option {
    background-color: var(--o-color-bg1);
  }
  #h5-menu-top .option a {
    display: block;
    margin-left: 16px;
    padding-top: 16px;
  }
  #h5-menu-top .option-ru a {
    display: none;
  }
  #h5-menu-top .option-ru .option-ru-a {
    display: block;
  }
  #h5-menu-top .option a:nth-last-of-type(1) {
    padding-bottom: 16px;
  }
  #h5-menu-top .option {
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
  }
  #h5-menu-top .option-show {
    height: 334px;
  }
  #h5-menu-top .h5-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 0 16px;
  }
  #h5-menu-top .h5-logo .icon-close {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  .light .icon-close {
    background-image: url(../img/common/icon-close-light.svg);
  }
  .dark .icon-close {
    background-image: url(../img/common/icon-close-dark.svg);
  }
  .icon-servision {
    margin-right: 17px;
    width: 24px;
    height: 24px;
    background-image: url(../img/common/down.svg);
    background-size: 16px 16px;
    position: absolute;
    right: 0px;
  }
  .dark .icon-servision {
    background-image: url(../img/common/down-dark.svg);
  }
  .icon-open {
    transform: scale(0.8) rotateZ(0deg);
  }
  #h5-menu-top .option a {
    color: var(--o-color-text1);
    font-size: 14px;
  }
  #h5-menu-top .option .active {
    color: var(--o-color-brand1);
  }
  .jstree-closed > .jstree-icon {
    background-image: url(../img/common/down.svg);
  }
  .jstree-open > .jstree-icon {
    background-image: url(../img/common/down.svg);
  }
  .dark .jstree-closed > .jstree-icon {
    background-image: url(../img/common/down-dark.svg);
  }
  .dark .jstree-open > .jstree-icon {
    background-image: url(../img/common/down-dark.svg);
  }
}
#h5-menu .h5-sersion {
  color: var(--o-color-text1);
}
.select-box:active {
  background: var(--o-color-bg2) !important;
}
.jstree-node i {
  width: 24px;
  height: 24px;
}
.jstree-closed > .jstree-icon {
  background-image: url(../img/common/icon-arrow-right.svg);
}
.jstree-open > .jstree-icon {
  transform: rotateZ(-90deg);
  background-image: url(../img/common/icon-arrow-right-open.svg);
}
@media screen and (max-width: 1100px) {
  .jstree-closed > .jstree-icon {
    background-image: url(../img/common/down.svg);
    background-size: 16px 16px;
    transform: rotateZ(0deg);
  }
  .jstree-open > .jstree-icon {
    background-image: url(../img/common/down.svg);
    background-size: 16px 16px;
    transform: rotateZ(0deg);
  }
  .jstree-node a {
    display: flex;
  }
}
.h5-theme-lang {
  display: none;
}
.h5-theme-lang i.light {
  background-image: url(../img/common/moon.svg);
}
.theme-change i.dark {
  -webkit-mask-image: url(../img/common/sun.svg);
  background-color: #ffffff;
}
@media screen and (max-width: 1100px) {
  .h5-theme-lang {
    display: flex;
  }
}
.h5-theme-lang {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 99;
  width: 100%;
  padding: 16px 24px 16px 16px;
  background-color: var(--o-color-bg2);
  justify-content: space-between;
}
.h5-theme-lang .lang {
  display: flex;
}
.h5-theme-lang .lang a {
  color: var(--o-color-text1);
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
.h5-theme-lang .lang .active {
  color: var(--o-color-brand1);
}

.h5-theme-lang .lang a + a::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 1px;
  margin: 0 8px;
  background-color: var(--o-color-border1);
}
.h5-theme-lang .theme-change i {
  width: 16px;
  height: 16px;
}
.h5-mask {
  display: none;
}
@media screen and (max-width: 1100px) {
  .h5-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 47, 51, 0.1);
    z-index: 1002;
  }
  #menu-box,
  #menu-box .h5-logo,
  #menu-box .menu-select-box,
  #docstreeview {
    background-color: var(--o-color-bg2);
  }
}
.h5-nav-menu .h5-logo {
  width: 92px;
  height: 24px;
  background: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dark .h5-nav-menu .h5-logo {
  background: url(../img/logo-dark.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.h5-search {
  width: 100vw;
  height: 48px;
  padding: 12px 16px;
  background: var(--o-color-bg1);
  position: fixed;
  left: 0;
  top: 0;
  font-size: 14px;
}
.h5-search .icon-search {
  position: absolute;
  left: 24px;
  top: 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/search/search.svg) no-repeat 100%/100%;
}
.h5-search input {
  flex-grow: 2;
  height: 24px;
  margin-right: 16px;
  background: var(--o-color-bg-secondary);
  padding: 3px 32px;
  font-size: 12px;
  font-weight: 400;
  color: var(--o-color-text1);
  line-height: 14px;
  border: none;
}
.h5-search .cancel-btn {
  color: var(--o-color-text1);
  line-height: 24px;
}
.dark .h5-search .icon-search {
  background: url(../img/search/search-dark.svg) no-repeat 100%/100%;
}
.h5-search .icon-clear {
  position: absolute;
  right: 72px;
  top: 16px;
  display: none;
  width: 16px;
  height: 16px;
  background: url(../img/common/icon-close-light.svg) no-repeat 100%/100%;
}
.dark .h5-search .icon-clear {
  background: url(../img/common/icon-close-dark.svg) no-repeat 100%/100%;
}

#h5-menu-top .h5-logo .logo-img {
  width: 92px;
  height: 24px;
  background: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dark #h5-menu-top .h5-logo .logo-img {
  background: url(../img/logo-dark.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top-link .other-link a:nth-of-type(2) {
  margin-left: 40px;
}
/* footer start */
.footer {
  background: var(--o-color-greyblack1);
}
@media (max-width: 1100px) {
  .footer.migration {
    margin-left: 0;
    margin-top: 0;
  }
}
.footer .inner {
  /* max-width: 1504px; */
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px;
}
@media (max-width: 1100px) {
  .footer .inner {
    padding: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* .footer .inner .footer-logo {
  flex: 1;
} */
@media (max-width: 1100px) {
  .footer .inner .footer-logo {
    width: 100%;
    flex: auto;
    text-align: center;
    margin-top: 16px;
    order: 1;
  }
  .footer .inner .footer-logo {
    margin-top: 4px;
  }
  .footer .inner .footer-logo p {
    margin-top: 0px !important;
    font-size: 12px;
  }
  .footer .inner .footer-logo p::before {
    height: 0;
  }
}
.footer .inner .footer-logo p {
  margin-top: 20px;
  font-size: 14px;
}
.footer .inner .footer-logo p a {
  color: #fff;
}
.footer .inner .footer-option {
  text-align: center;
}
@media (max-width: 1100px) {
  .footer .inner .footer-option {
    width: 100%;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #2d2d2d;
  }
  .footer .inner .footer-logo p {
    font-size: 12px;
  }
}
.footer .inner .footer-option .footer-option-item .link {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 0 12px;
  border-right: 1px solid #fff;
}
.footer .inner .footer-option .copyright {
  margin-top: 16px;
  font-size: 12px;
  color: #fff;
}
@media (max-width: 1100px) {
  .footer .inner .footer-option .copyright {
    margin-top: 8px;
  }
}
.footer .inner .footer-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1100px) {
  .footer .inner .footer-right {
    flex-wrap: wrap;
    justify-content: center;
    order: -1;
  }
  .footer .inner .footer-right .code-box {
    width: 100%;
    order: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .inner .footer-right .code-box p {
    width: 100%;
    /* order: -1; */
  }
  .footer .inner .footer-logo img {
    display: none;
  }
}
.footer .inner .footer-right .footer-link div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.footer .inner .footer-right .footer-link div.row2 {
  gap: 20px;
  margin-top: 12px;
}
.footer .inner .footer-right .footer-link div a img {
  height: 14px;
  object-fit: cover;
  display: block;
}
.footer .inner .footer-right .code-box {
  text-align: center;
}
.footer .inner .footer-right .code-box img {
  height: 62px;
  object-fit: cover;
}
.footer .inner .footer-right .code-box .text {
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
}
/********** footer end *****************/

#menu-box #version-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  color: #fff;
  font-size: var(--o-font-size-h8);
  margin-top: 53px;
  margin-left: 40px;
  margin-bottom: 24px;
  padding: 0 8px;
  border: 1px solid var(--o-color-trafficpurple7);
}
@media screen and (max-width: 1100px) {
  #menu-box #version-select {
    display: none;
  }
}
#menu-box #version-select::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/common/icon-arrow-right.svg);
  background-size: 100% 100%;
  transition: all 0.2s;
  transform: rotateZ(-90deg);
}
#menu-box #version-select > span {
  color: #feb32a;
}
/* #menu-box .open-option::after {
  transform: rotateZ(-90deg) !important;
  background-image: url(../img/common/icon-arrow-right-open.svg) !important;
} */
.book-toc {
  position: fixed;
  right: 4vw;
  top: 100px;
  width: 200px;
  height: calc(100vh - 426px);
}
.book-toc::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--o-color-division1);
}
.book-toc #toc-list {
  height: 150px;
  overflow-y: scroll;
}
.book-toc #toc-list::-webkit-scrollbar {
  display: none;
}
.footer {
  margin-top: 0;
  /* max-width: 1620px; */
}
.page-content {
  width: 100%;
  max-width: 1174px;
  /* border-right: 1px solid var(--o-color-division1); */
}
.prev-next .version {
  display: none;
}
@media (max-width: 1100px) {
  .prev-next .version {
    display: block;
  }
}
.h5-prev,
.h5-next,
.h5-prev a,
.h5-next a,
.h5-prev a i,
.h5-next a i {
  display: flex;
  align-items: center;
}
#h5-menu-box {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--o-color-bg2);
  height: 100vh;
  width: 65vw;
  transition: all 0.5s;
  display: none;
  transform: translateX(-100%);
}

.h5-docs-a {
  display: none;
}
@media screen and (max-width: 1100px) {
  .h5-docs-a {
    display: flex;
    align-items: center;
  }
}
.table-box {
  overflow-x: scroll;
  cursor: pointer;
  user-select: none;
}
/* .table-box::-webkit-scrollbar-track {
  background-color: var(--o-color-bg2);
} */
/* .table-box::-webkit-scrollbar {
  border-radius: 8px;
}
.table-box::-webkit-scrollbar-thumb {
  background: var(--o-color-bg1);
} */
.table-box table {
  width: 3000px !important;
}

.table-box table tr th:nth-of-type(8) {
  width: 522px;
}
.table-box table tr th:nth-of-type(10) {
  width: 400px;
}
/* 文档下载按钮 start */
.left .download-button {
  padding: 16px 0 16px 40px;
  width: 300px;
  height: 64px;
  background-color: var(--o-color-trafficpurple5);
}
.left .download-button button {
  width: 104px;
  height: 32px;
  background-color: #feb32a;
  border: none;
}
.left .download-button button a {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.left .download-button button a svg {
  margin-left: 8px;
  line-height: 32px;
}
@media screen and (max-width: 1100px) {
  .left .download-button {
    padding: 8px 0 0 16px;
    width: 60vw;
    height: 40px;
    background-color: var(--o-color-bg2);
  }
  .left .download-button button {
    width: 88px;
    height: 24px;
    background-color: var(--o-color-brand1);
    border: none;
  }
  .left .download-button button a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
  }
}
/* 文档下载按钮 end */
