{{ $version := "21.03" }}
{{ $lang := .Site.LanguageCode }}
<div class="doclist container">
    <div class="search-mobile">
        <input type="text" placeholder="{{ i18n "search" }}" />
        <div class="search-btn">{{ i18n "search" }}</div>
    </div>
    <div class="text">
        <span>{{ i18n "version_text" }}</span>
        <div>
            <span>{{ .Site.Params.ltsText }}</span>
            <div id="LTS-value"><div></div></div>
        </div>
    </div>
    <div class="doc-box">
        {{ range .Site.Data.docsversion }}
        {{ if eq .version "20.03 LTS SP2" }}
        <div class="version active" key="{{ .version }}" index="{{ .index }}">{{ .version }}</div>
        {{ else }}
        <div class="version" key="{{ .version }}" index="{{ .index }}">{{ .version }}</div>
        {{ end }}
        {{ end }}
    </div>

    <div class="doc-catalog">
        <p class="title">{{ i18n "catalog_text" }}</p>
        {{ range .Site.Data.docsversion }}
        <div class="list" index="{{ .index }}" style="display: {{ .display }};">
            {{ if eq $lang "zh"}}
                {{ range .zhmodule }}
                    <div class="{{ .class }}">
                        <i class="icon-{{ .class }}"></i>
                        <span>{{ .name }}</span>
                        <div class="link-box">
                            {{ range .link }}
                            <a href="{{ .href }}">{{ .title }}</a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{ else if eq $lang "en" }}
                {{ range .enmodule }}
                <div class="{{ .class }}">
                    <i class="icon-{{ .class }}"></i>
                    <span>{{ .name }}</span>
                    <div class="link-box">
                        {{ range .link }}
                        <a href="{{ .href }}">{{ .title }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            {{ else if eq $lang "ru" }}
                {{ range .rumodule }}
                <div class="{{ .class }}">
                    <i class="icon-{{ .class }}"></i>
                    <span>{{ .name }}</span>
                    <div class="link-box">
                        {{ range .link }}
                        <a href="{{ .href }}">{{ .title }}</a>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            {{ else }}
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="webpage">
        <div class="other">
            <P>{{ i18n "other_text" }}</P>
            <a href="https://kunpeng.huawei.com/#/" target="_blank"><img src="/img/list/kunpeng.png" alt="" /></a>
        </div>
    </div>
    
</div>