<div class="doc-map">
  <h1 class="map-title">{{ i18n "doc_map" }}</h1>
  <div class="doc-map-main" id="markdown">
    <h2 class="line-title bg-1" id="doc-map-title1">{{ i18n "know" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/TechnicalWhitePaper/%E4%BA%A7%E5%93%81%E5%AE%9A%E4%BD%8D.html"
          >{{ i18n "about_openGauss" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/AboutopenGauss/CharacteristicDescription.html"
          >{{ i18n "characteristic_description" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/ReleaseNotes/%E7%89%88%E6%9C%AC%E4%BB%8B%E7%BB%8D.html"
        >
          {{ i18n "version_introduction" }}
        </a>
      </div>
    </div>
    <!-- <h2 class="line-title bg-1" id="doc-map-title2">{{ i18n "try" }}</h2>
    <div class="line-main">
      <div class="link-list ">
        <a target="_blank" href="https://tryme.opengauss.org/home">{{ i18n "try_me" }} </a>
      </div>
    </div> -->
    <h2 class="line-title bg-1" id="doc-map-title3">{{ i18n "deployment" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/InstallationGuide/%E6%9C%8D%E5%8A%A1%E5%99%A8%E5%AE%89%E8%A3%85.html"
          >{{ i18n "minimalist_server" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/InstallationGuide/%E5%AE%B9%E5%99%A8%E5%AE%89%E8%A3%85.html"
          >{{ i18n "minimalist_container" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/InstallationGuide/%E5%AE%89%E8%A3%85openGauss.html"
          >{{ i18n "OM_Enterprise" }}
        </a>
      </div>
    </div>
    <h2 class="line-title bg-1" id="doc-map-title4">{{ i18n "development" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DeveloperGuide/%E5%9F%BA%E4%BA%8EJDBC%E5%BC%80%E5%8F%91.html"
          >{{ i18n "jdbc" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DeveloperGuide/%E5%9F%BA%E4%BA%8EODBC%E5%BC%80%E5%8F%91.html"
          >{{ i18n "odbc" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DeveloperGuide/%E5%9F%BA%E4%BA%8EPsycopg%E5%BC%80%E5%8F%91.html"
          >{{ i18n "psycopg" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DeveloperGuide/%E5%9F%BA%E4%BA%8Elibpq%E5%BC%80%E5%8F%91.html"
          >{{ i18n "libpq" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DatabaseOMGuide/%E5%AF%BC%E5%85%A5%E6%95%B0%E6%8D%AE.html"
          >{{ i18n "import_export" }}
        </a>
      </div>
    </div>
    <h2 class="line-title bg-1" id="doc-map-title5">{{ i18n "maintenance" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DatabaseOMGuide/%E5%90%AF%E5%81%9CopenGauss.html"
          >{{ i18n "operation_maintenance" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DatabaseOMGuide/%E5%A4%87%E4%BB%BD%E4%B8%8E%E6%81%A2%E5%A4%8D.html"
          >{{ i18n "backup_recovery" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DatabaseOMGuide/upgrade.html"
          >{{ i18n "upgrade" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DatabaseOMGuide/%E5%B8%B8%E8%A7%81%E6%95%85%E9%9A%9C%E5%AE%9A%E4%BD%8D%E6%89%8B%E6%AE%B5.html"
          >{{ i18n "fault_diagnosis" }}
        </a>
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/ToolandCommandReference/%E5%B7%A5%E5%85%B7%E4%B8%80%E8%A7%88%E8%A1%A8.html"
          >{{ i18n "commands_set" }}
        </a>
      </div>
    </div>
    <h2 class="line-title bg-1" id="doc-map-title6">{{ i18n "tuning" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/PerformanceTuningGuide/%E7%B3%BB%E7%BB%9F%E8%B0%83%E4%BC%98%E6%8C%87%E5%8D%97.html"
          >{{ i18n "system" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/PerformanceTuningGuide/SQL%E8%B0%83%E4%BC%98%E6%8C%87%E5%8D%97.html"
          >{{ i18n "sql" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/PerformanceTuningGuide/TPCC%E6%80%A7%E8%83%BD%E8%B0%83%E4%BC%98%E6%B5%8B%E8%AF%95%E6%8C%87%E5%AF%BC.html"
          >{{ i18n "tpcc" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/SQLReference/WDR-Snapshot-Schema.html"
          >{{ i18n "wdr" }}</a
        >
      </div>
    </div>
    <h2 class="line-title bg-1" id="doc-map-title7">{{ i18n "tools" }}</h2>
    <div class="line-main">
      <div class="link-list">
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/ToolandCommandReference/%E9%9B%86%E7%BE%A4%E7%AE%A1%E7%90%86.html"
          >{{ i18n "cm" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/ToolandCommandReference/DataKit.html"
          >{{ i18n "data_kit" }}</a
        >
        <a
          target="_blank"
          href="https://docs.opengauss.org/{{i18n "lang"}}/docs/5.0.0/docs/DataMigrationGuide/%E8%BF%81%E7%A7%BBMySQL%E6%95%B0%E6%8D%AE%E5%BA%93%E8%87%B3openGauss.html"
          >{{ i18n "migration" }}</a
        >
      </div>
    </div>
  </div>
</div>
