<footer>
    <div class="footer-wrapper">
        <div class="footer-content container">
            <div class="footer-left">
                <img src="/img/common/footer-logo.png" alt="" />
                <p>{{ .Site.Params.email }}</p>
                <p>{{ i18n "copy_right" }}</p>
            </div>
            <div class="footer-right">
                <img src="/img/common/qrcode.png" alt="" />
                <p>{{ i18n "attention" }}</p>
                <p>{{ i18n "copy_right" }}</p>
            </div>
        </div>
    </div>
</footer>