<div class="h5_footer">
    <div class="atom">
        <p>{{ i18n "atom" }}</p>
        <div class="atom-img"></div>
        <!-- <img src="/img/common/atom.png" alt=""> -->
      </div>
    <div>
        <div class="footer-logo"></div>
        <!-- <img src="/img/common/footerLogo.png" alt="" /> -->
        <p>contact@opengauss.org</p>
    </div>
    <div>
        <img src="/img/common/qrcode.png" alt=""/>
        <p>{{ i18n "attention" }}</p>
        <p>{{ i18n "copy_right" }}</p>
    </div>
</div>
