<div class="footer migration">
  <div class="inner">
    <div class="footer-logo">
      <img class="show-pc" src="/img/footer/footer-logo.svg" alt="" />
      <p>
        <a class="email" href="mailto:contact@opengauss.org" target="_blank"
          >contact@opengauss.org</a
        >
      </p>
    </div>
    <div class="footer-option">
      <div class="footer-option-item">
        <a
          href="https://opengauss.org/{{i18n "lang"}}/brand/"
          class="link"
          link="brand"
          target="_blank"
          >{{i18n "brand"}}</a
        ><a
          href="https://opengauss.org/{{i18n "lang"}}/privacyPolicy/"
          class="link"
          link="privacy"
          target="_blank"
          >{{i18n "privacy"}}</a
        ><a
          href="https://opengauss.org/{{i18n "lang"}}/legal/"
          class="link"
          link="legal"
          target="_blank"
          >{{i18n "legal"}}</a
        >
        <a
          href="https://opengauss.org/{{i18n "lang"}}/aboutUs/"
          class="link"
          link="legal"
          target="_blank"
          >{{i18n "relative"}}</a
        ><a href="https://status.opengauss.org/" class="link" link="service"
          >{{i18n "service"}}</a
        >
      </div>
      <p class="copyright">{{i18n "copy_right"}}</p>
    </div>
    <div class="footer-right">
      <div class="footer-link">
        <div class="row1">
          <a href="https://my.oschina.net/u/5059795">
            <img src="/img/footer/oschina.png" alt="" />
          </a>
          <a
            href="https://blog.csdn.net/weixin_49727236?spm=1000.2115.3001.5343"
          >
            <img src="/img/footer/csdn.png" alt="" />
          </a>
          <a href="https://blog.51cto.com/u_15157671">
            <img src="/img/footer/cto.png" alt="" />
          </a>
        </div>
        <div class="row2">
          <a href="https://www.modb.pro/u/429265">
            <img src="/img/footer/modb.png" alt="" />
          </a>
          <a href="https://www.infoq.cn/u/opengauss/publish">
            <img src="/img/footer/infoq.png" alt="" />
          </a>
          <a href="https://space.bilibili.com/543286270">
            <img src="/img/footer/bilibili.png" alt="" />
          </a>
          <a href="https://www.zhihu.com/people/opengauss">
            <img src="/img/footer/zhihu.png" alt="" />
          </a>
        </div>
      </div>
      <div class="code-box">
        <img src="/img/footer/wechat.png" alt="" />
        <p class="text">{{i18n "wechat"}}</p>
      </div>
    </div>
  </div>
</div>
