<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link href="{{ "css/docsearch.css"  | relURL }}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet" type="text/css">
<body>
    <div id="all">

        <header>
            {{ partial "nav.html" . }}
        </header>

        <div class="body_content">
            {{ partial "search.html" . }}
            <div class="h5-search container search-page">
                <div>
                    <input type="text" placeholder="{{ i18n "search" }}" />
                </div>
                <div class="search-btn">{{ i18n "search" }}</div>
            </div>
            <div id="search-result" class="container">
                <p class="title">{{ i18n "result_1" }}<span class="res-amount main-text"></span>{{ i18n "result_2" }}<span class="keyword main-text"></span>{{ i18n "result_3" }}</p>
                <ul>
                    
                </ul>
                <div id="pagination"></div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>
    
    {{ partial "scripts.html" . }}
    <script src="{{ "js/pagination.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    <script src="{{ "js/docsearch.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
</body>
</html>